# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# const token = req.headers.authorization?.split(" ")[1];
# if (!token) {
#   return res.status(403).json({ message: "Bạn chưa đăng nhập" });
# }

# const decoded = jwt.verify(token, SECRET_CODE);

# const user = await User.findById(decoded._id);

# if (user.role !== "admin") {
#   return res
#     .status(403)
#     .json({ message: "Bạn không có quyền làm việc này" });
# }
# next();